.custom-btn {
  margin: 16px 0px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $orange;
  color: $ivory !important;
  font-family: $body-font;
  font-weight: 700;
  border: none;
  a {
    opacity: 100%;
    color: $ivory;
  }
}

.fa-solid {
  font-size: 40px;
  color: $green;
}

.btn {
  color: $ivory;
}

.btn-primary {
  background-color: $green;
  border: none;
  :hover {
    background: $green;
  }
}

.green {
  background-color: $green;
  color: $ivory;
}
