.custom-btn {
  margin: 16px 0px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $orange;
  color: $ivory !important;
  font-family: $body-font;
  font-weight: 700;
  box-shadow: 0px 0px 2px #FF9F1C;
  transition: 0.1s;
  border: none;
  a {
    opacity: 100%;
    color: $ivory;

  }
  &:active {
    box-shadow: none;
    transform: scale(0.98);
  }
}

.fa-solid {
  font-size: 40px;
  color: $green;
}

.btn {
  color: $ivory;
}

.btn-green {
  background-color: $green;
  padding: 3px 8px 0 8px;
  text-align: center;
  border: none;
}

.green {
  box-shadow: 0px 0px 2px #0D5D56;
  background-color: $green;
  color: $ivory;
  &:active {
    box-shadow: none;
    transform: scale(0.98);
  }
}

.red {
  background-color: #d33;
  box-shadow: 0px 0px 2px #d33;
  color: #d33;
  &:active {
    box-shadow: none;
    transform: scale(0.98);
  }
}

.component-delete-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
  a {
    color: $ivory !important;
    font-weight: 700 !important;
  }
}

.fa-pen
{
  font-size: 16px !important;
}
