.custom-btn {
  margin: 16px 0px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $orange;
  color: $ivory !important;
  font-family: $body-font;
  font-weight: 700;
  border: none;

  a {
    opacity: 100%;
    color: $ivory;
  }
}

.back-btn {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 16px 16px;
  // background-color: $orange;
  color: $ivory !important;
  font-family: $body-font;
  font-weight: 700;
  border: none;
}

.btn {
  color: $ivory;
}

.btn-primary {
  background-color: $green;
  border: none;
  :hover {
    background: $green;
  }
}

.green {
  background-color: $green;
  color: $ivory;
}
