.shop-card {
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 1px $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-card-image {
  height: 100%;
  width: 120px;
  background-color: $green;
  opacity: 50%;
  border-radius: 8px;
}

.shop-card-info {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: left;
  padding-left: 16px;
  p {
    margin: 0;
  }
}

.bike-card {
  margin: 24px 0;
}

.component-card {
  width: 100%;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 1px $green;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  .progress-bar-text {
    text-align: left;
  }
}

.component-card-image img {
  width: 100px;
  background-color: $green;
  opacity: 50%;
}

.card-image-info-wrapper {
  flex-grow: 1;
  padding: 10px 13px;;
  display: flex;
  flex-direction: column;
  // justify-content: sp  ace-between;
}
