.shop-card {
  width: 100%;
  height: 165px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 1px $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.shop-card-image {
  height: 100%;
  aspect-ratio: 1;
  background-color: $green;
  border-radius: 8px;
  background-size: cover;
}

.shop-img {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
}

.shop-card-info {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: left;
  padding-left: 16px;
  p {
    margin: 0;
  }
}

.bike-card {
  margin: 24px 0;

}

.component-card {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  background-color: white;

  padding: 8px;
  border-radius: 16px;
  overflow: hidden;
  // border: 3px solid red;
  box-shadow: 0 0 1px $green;
  .progress-bar-text {
    text-align: left;
    p {
      margin-top: 5px;
    }
  }
  transition: all .5s ease;
  &.away {
    transform: scale(0.3);
    opacity: 0;
  }
}

.component-card-image {
  width: 100px;
  aspect-ratio: 1;
  background-color: rgba($green, .3);
  border-radius: 8px;
  padding: 8px;
}

.component-card-image img {
  width: 100%;
  aspect-ratio: 1;
}
.img-thumbnail {
  border-radius: 16px;
}

.card-image-info-wrapper {
  // padding: 10px 13px;
  display: flex;
}

.bars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.bar-names {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  text-align: right;
  p {
    margin-bottom: 0;
  }
}

.component-name-and-delete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 8px;
  h2 {
    flex-grow: 1;
  }
}

.fa-solid {
  font-size: 24px;
  margin: 0;
  padding-right: 3px;
}

.comp-show-mini-card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 0 1px $green;
}
