.shop-card {
  width: 100%;
  height: 150px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 1px $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-card-image {
  height: 100%;
  aspect-ratio: 1;
  background-color: $green;
  opacity: 50%;
  border-radius: 8px;
}

.shop-card-info {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: left;
  padding-left: 16px;
  p {
    margin: 0;
  }
}

.bike-card {
  margin: 24px 0;
}

.component-card {
  width: 100%;
  height: 120px;
  background-color: $green;
  color: $ivory;
  border-radius: 8px;
  padding: 8px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .progress-bar-text {
    text-align: left;
  }
}

.component-card-image {
  height: 100%;
  aspect-ratio: 1;
  background-color: lightgray;
  border: 2px solid $orange;
  border-radius: 4px;
}

.card-image-info-wrapper {
  height: 100%;
  width: 100%;
  padding: 0 0 8px 0;
  display: flex;
  justify-content: space-between;
}
