.dropdown {
  .btn {
    width: 100%;
    height: 60px;
    background-color: $ivory;
    border-radius: 16px;
    padding: 0 8px 0px 20px;
    font-weight: 400;
    font-size: 32px;
    border: none;
    color: $black;
    font-family: $body-font;
  }
}

.dropdown-item {
  background-color: $white;
  width: 100%;
  color: $black;
  font-weight: 400;
  // border-radius: 16px;
  // margin-bottom: 12px;
  padding: 16px;
  // border-bottom: 1px solid $orange;
}

.dropdown-item.active {
  background-color: $orange !important;
  font-weight: 700;
}

.dropdown-menu {
  background-color: $white !important;
  width: 100%;
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
}

select {
  background-color: $white;
  border-radius: 8px;
  width: 45vw;
  padding: 8px 16px;
  color: $black;
  font-weight: 700;
  margin: 16px 0 0 0;
}

option {
  background-color: white;
  color: $ivory !important;
}

.advise-drop {
  background-color: white;
  color: $black;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 1px $green;
  margin-top: 16px;
}
