.navbar {
  max-width: 450px;
  height: 75px;
  position: sticky;
  bottom: 0px;
  background-color: $orange;
  color: $ivory;
  padding: 0;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 1rem 1rem;
  a {
    text-decoration: none;
    color: $ivory;
    font-weight: 400;
  }
}

.nav-button {
  width: 114px;
  text-align: center;
}
