.progress {
  width: 100%;
  height: 16px;
  border-radius: 16px;
}

.progress-bar {
  background-color: $orange;
  border-radius: 16px;
  padding: 0 0 0 16px;
  color: $black;
  overflow: visible;
  font-weight: bold;
  p {
    font-size: 20px;
    position: relative;
    font-weight: 400;
  }
}

.progress-info {
  height: 100%;
  width: auto;
  flex-grow: 1;
  text-align: start;
  padding: 0 0 0 16px;
  p {
    margin: 0;
  }
  h2 {
    font-weight: 700;
  }
}
