<div class="navbar">
  <div class="nav-link"><%= link_to "Garage", bikes_path %></div>
  <div class="nav-link"><%= link_to "Profile", user_path(current_user) %></div>
  <div class="nav-link"><%= link_to "Bike Shops", "/shop_locator" %> </div>
</div>
